In [1]:
requested_toppings=['mushrooms', 'cheese']
if 'mushrooms' in requested_toppings:
    print("Mushrooms added")

Mushrooms added

In [17]:
#if-ELIF-ELSE
age=12
if age<4:
    price=0
elif age<18:
    price=25
elif age>65:
    price=40
else:
    price=20
print("Your admission fee is , ", price)

Your admission fee is ,  25

In [14]:
#more on lists

thisList=["Joshua", "Muzuva", "Mukisa", "Joshua", "Mudavana", "Charity"]
print(thisList)
print(thisList[2])#access via index
print(thisList[-2])#negative indexes
print(thisList[1:4])#range of indexes
print(thisList[0:3])

['Joshua', 'Muzuva', 'Mukisa', 'Joshua', 'Mudavana', 'Charity']
Mukisa
Mudavana
['Muzuva', 'Mukisa', 'Joshua']
['Joshua', 'Muzuva', 'Mukisa']

In [24]:
#orderd lists
unordered=["this", 65, True, "animal"]
#change item value
unordered[3]=45.5
#append value
unordered.append("Shepherd")#adds at the end
#insert
unordered.insert(3,"Apostles")
#remove items
unordered.pop(4)#for specified index
unordered.remove(True)
print(unordered)
print(len(unordered))
print(type(unordered))

['this', 65, 'Apostles', 'Shepherd']
4
<class 'list'>

In [26]:
#TUPLES
Phones=("tecno", "samsung", "nokia", "infinix")
print(Phones)
newPhones=list(Phones)
newPhones[3]="iphone"
newPhones.append("infinix")
phones=tuple(newPhones)
print(phones)

('tecno', 'samsung', 'nokia', 'infinix')
('tecno', 'samsung', 'nokia', 'iphone')

In [3]:
#sets
Odd_nos = {1,3,5,7,9,11}
Even_nos = {2,4,6,8,10}

Odd_nos.union(Even_nos)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [7]:
#dictionaries
mydict = {
    "year":"2020",
    "model":"mustang",
    "brand":"Ford"   
    }
print(mydict)
print(mydict["brand"])

{'year': '2020', 'model': 'mustang', 'brand': 'Ford'}
Ford

In [14]:
#booleans
print(type(True))
print(type(False))
#any string is true except an empty string
print(bool({}))
#any number is true except 0
print(bool(0))
A= 10
B= 20
X= "HELLO"
Y =15
print(A==B)
print(bool(X))
print(bool(Y))

class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

<class 'bool'>
<class 'bool'>
False
False
False
True
True
False

In [29]:
#boolean operators
a =1
b =34
c =100
#or operator(exercise1)
if a>b or b<c:
    print(True)
else:
    print(False)
    
#and operator(Exercise2)
a =0
b =2
c= 4

if a>b and b<c:
    print(True)
else:
    print(False)
    
if a and b and c:
    print("all the numbers have values as true")
else:
    print("Atleast one number has Boolean value as false")
    
#not operator

True
False
Atleast one number has Boolean value as false
True

In [32]:
#program to demonstarte  == & !=
a =0
b =1
if a ==0:
    print(True)
        
if a==b:
    print(False)
        
if a!=b:
    print(True)

True
True

In [36]:
#is operator
x =["a","b","c","d"]
y =["a","b","c","d"]

t =10
z =10
print(x is y)#returns False because x is not the same object as y, even if they have the same content
print(t is z)

False
True

In [35]:
#in operator
Food = ["apple", "grape","humburger","hotdog"]
if "hotdog" in Food:
    print("Come and get it")

Come and get it

In [41]:
#LOOPING
#WHILE LOOP
i =1
while i<10:
    print(i)
    i+=1
 

print("\n")

#break
i=4
while i<10:
    print(i)
    if i ==8:
        break
    i+=1

1
2
3
4
5
6
7
8
9


4
5
6
7
8

In [ ]:
#continue keyword
i=29
while i<34:
   
    if i ==32:#32 is skipped
        continue
    print(i)
    i += 1

29
30
31